---
title: Inglés donde estés
---

<div class="welcome">
  <h1>redesigning awesomeness</h1>
  <p class="doc">
  	we'll be back up in no time 
  </p><!-- .doc -->
  <p class="doc">
    <%= link_to "ximena@inglesdondestes.cl", "mailto:ximena@inglesdondestes.cl" %>
  </p><!-- .doc -->
  </p><!-- .doc -->
</div><!-- .welcome -->